/*.back {
  background-size: cover;
  background-position: center;
  height: 734px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  text-align: center;
}
.logo {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
}
form {
  background-color: rgba(24, 23, 23, 0.7);
  padding: 50px;
  width: 619px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
input[type="text"],
input[type="password"],
button {
  margin: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
button {
  background-color: #dbc233;
  color: #000;
  cursor: pointer;
  margin-top: 40px;
}
h3 {
  color: #dbc233;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  display: inline-block;
  margin-right: 10px;
}
div.field-container {
  margin-bottom: 10px;
}
.form-link {
  margin-top: 20px;
  color: #dbc233;
}
*/
