.film-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.progress-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 49px;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.step.active {
  background-color: #007bff;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: -42px;
  margin-left: 100px;
}

.btn {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 100px;
  margin-top: 54px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  margin-right: 100px;
  margin-top: 54px;
}

.film-details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
}

.film-image {
  width: 300px;
  height: auto;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 94px;
}

.film-details-text {
  font-size: 18px;
  line-height: 1.5;
}

.film-details-text.title {
  font-size: 24px;
  font-weight: bold;
}

.film-details-text.description {
  font-style: italic;
}

.film-details-text.details {
  font-size: 16px;
}

.reservation-form-container {
  margin-top: 20px;
  padding: 49px;
  width: 572px;
  height: 300px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.reservation-form-container h2 {
  font-size: 20px;
  color: #343a40;
  margin-bottom: 10px;
}

.reservation-form-container form {
  display: flex;
  flex-direction: column;
}

.reservation-form-container label {
  font-weight: bold;
  margin-bottom: 8px;
}

.reservation-form-container input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.reservation-form-container button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reservation-form-container button:hover {
  background-color: #218838;
}

.session-form-container {
  margin-top: 20px;
  padding: 49px;
  width: 572px;
  height: 360px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.session-form-container h2 {
  font-size: 20px;
  color: #343a40;
  margin-bottom: 10px;
}

.session-form-container form {
  display: flex;
  flex-direction: column;
}

.session-form-container label {
  font-weight: bold;
  margin-bottom: 8px;
}

.session-form-container input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.session-form-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.session-form-container button:hover {
  background-color: #0056b3;
}
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;

  background-color: #fff;
  cursor: pointer;
}

option {
  font-size: 16px;
  padding: 8px;
  background-color: #fff;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
