.film-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
.release {
  color: peru;
  font-family: monospace;
}

.film-item {
  width: 300px;
  height: auto;
  position: relative;
  transition: transform 0.3s ease;
}

.film-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.film-item.prev img,
.film-item.next img {
  opacity: 0.5;
}

.film-item.current {
  width: 400px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border: none;
  background: transparent;
  color: whitesmoke;
  cursor: pointer;
}

.nav-button.prev {
  left: -42px;
}

.nav-button.next {
  right: -42px;
}

.movie-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  background-color: #0e0f10;
}

.movie-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background-color: #171717;
}

.movie-item {
  width: 250px;
  margin-right: 20px;
  text-align: center;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-details {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-details h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.movie-details p {
  margin-bottom: 0.25rem;
}

.new-movies {
  margin-bottom: 40px;
}

.new-movies h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #0e0f10;
}
